<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1> Detail</h1>
  <p>할 일 제목 {{todo.title}}</p>
  <p>할 일 내용 {{todo.content}} </p>
  <p>완료 여부 {{todo.completed}} </p>
  <p>우선 순위 {{todo.priority}} </p>
  <p>생성 날짜 {{todo.created_at}} </p>
  <p>마감 기한 {{todo.deadline}} </p>
  <form action="{% url 'todos:delete' todo.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="삭제">
  </form>
  <a href="{% url 'todos:update' todo.pk %}">[UPDATE]</a>
  <a href="{% url 'todos:index' %}">[Back]</a>
</body>
</html>