<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>New</h1>
  <form action={% url 'todos:create' %} method="GET">
    제목: <input type="text" name="title"><br>
    내용: <input type="text" name="content"><br>
    우선순위: <input type="number" name="priority"><br>
    마감기한: <input type="date" name="deadline">
    <input type="submit">
  </form>
</body>
</html>