@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
*{
  margin:100px;
  padding:0;
  box-sizing:border-box;
}
#postit{
  width:700px;
  height:700px;
  background-color: #ffff99;
  transform: rotate(10deg);
  text-align: center;
  font-family: "Nanum Pen Script", cursive;
}
#postit h1{
  font-size:44px;
  margin-bottom: 20px;
  font-weight: normal;
}
#postit p{
  font-size:25px;
  margin-bottom: 20px;
}